.App {
  text-align: center;
  padding: 15px;
}

.App > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > form > * {
  width: 40%;
  min-width: 200px;
  margin-bottom: 10px;
  padding: 5px;
  display: block;
}